@font-face {
    font-family: 'UniversLTStd49LightUltraCondensed';
    src: url('universltstd-lightultracn.eot');
    src: url('universltstd-lightultracn.eot') format('embedded-opentype'),
         url('universltstd-lightultracn.woff') format('woff'),
         url('universltstd-lightultracn.ttf') format('truetype'),
         url('universltstd-lightultracn.svg#UniversLTStd49LightUltraCondensed') format('svg');
}
