@charset "UTF-8";
/* CSS Document */

/*
@font-face {
    font-family: 'univers';
    src: url('univers/universltstd-lightultracn.eot');
    src: url('univers/universltstd-lightultracn.eot?#iefix') format('embedded-opentype'),
         url('univers/universltstd-lightultracn.woff') format('woff'),
         url('univers/universltstd-lightultracn.ttf') format('truetype'),
         url('univers/universltstd-lightultracn.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
   }
*/

@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=71b392a8-4863-4400-a8cd-e4f9946d35c8&fontids=726288");
@font-face
{
  font-family:"univers";
  /*font-family: "Univers";*/
  src: url("http://resources.estorm.com/font/726288/a003083e-ffd0-49b7-af37-744d021a2b43.eot?#iefix");
  src: url("http://resources.estorm.com/font/726288/a003083e-ffd0-49b7-af37-744d021a2b43.eot?#iefix") format("eot"),
       url("http://resources.estorm.com/font/726288/0b8c6afb-4e27-4f8c-841c-390c192a2893.woff") format("woff"),
       url("http://resources.estorm.com/font/726288/19313855-64e7-4f8e-9fb7-46076e8ba946.ttf") format("truetype"),
       url("http://resources.estorm.com/font/726288/5f52ec5e-ae73-48b0-a085-4761380c4a37.svg#5f52ec5e-ae73-48b0-a085-4761380c4a37") format("svg");
}

html, body{
	margin:0px;
	padding:0px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	color:#48505f;
}

p{
	margin:0px 0px 10px 0px;
	line-height:22px;
}

a{
	color:#48505f;
	font-weight:bold;
	text-decoration:none;
}

a:hover{
	color:#f9933b;
}

h1, h2{
	font-family:"univers";
	font-weight:normal;
	clear:both;
}

h1{
	font-size:70px;
	line-height:70px;
	margin:0px;
	padding:0px;
}

h2{
	font-size:50px;
	line-height:50px;
	margin:0px 0px 20px 0px;
	padding:0px;
}

.container{
	width:100%;
	max-width:960px;
	height:100%;
	margin:0px auto;
}

.clear{
	clear:both;
	display:block;
}


div.left{
	width:54%;
	float:left;
	margin:0px 2% 0 0;
}

header{
	margin:40px 0px;
}

.logo {
	float:left;
}

.logo img{
	width:178px;
	height:43px;
}

.desc{
	font-size:11px;
	color:#b2b5ba;
	float:left;
	margin:8px 0px 0px 20px;
	width:300px;
}

article{
	position: relative;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li{
	list-style:none;
	list-style-position:outside;
	margin:0px 0px 10px 0px;
	padding:0px 0px 0px 15px;
	background-image:url(../images/bullet.png);
	background-size:8px 16px;
	background-position:2px 2px;
	background-repeat:no-repeat;
}

.right
{
	background-color:#56c8e9;
	text-align:center;
	width:42%;
	margin:0;
	float:right;
}

.right h1, .right h2{
	color:#FFF;
}


.panda{
	text-align:center;
}
.panda img{
	width:400px;
	margin:30px 0px;
}

.right input{
	width:100%;
	padding:10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	border:solid 2px #000;
	margin:0px 0px 10px 0px;
	font-size:13px;
}

.right button,
.right input#submit-button
{
	width:100%;
	background-color:#000000;
	border:none;
	padding:7px 10px;
	margin:10px 0px 0px 0px;
	font-family:"univers";
	font-size:36px;
	font-weight:normal;
	line-height:36px;
	color:#FFF;
}

input#submit-button
{
	cursor: pointer;
}

input#submit-button:hover
{
	background-color: #6e7e8e;
}

input.system
{
	display: none;
}

footer{
	font-size:11px;
	width:94%;
	max-width:960px;
	margin:30px auto;
}

footer br{
	display:none;
}

footer div{
	float:left;
	line-height:20px;
}

footer div.social{
	margin:0px 0px 0px 25px;
}

footer div.social a{
	margin:0px 5px 5px 0px;
}

footer div.copyright{
	float:right;
}

.readmore-js-toggle{
	text-align:center;
	margin:10px 0px 0px 0px;
	text-decoration:underline;
	font-weight:bold;
}
.readmore-js-toggle:after{
    display: inline-block;
    content: "";
	width:11px;
	height:11px;
	/* background-image:url(../images/plus.png); */
	background-size:11px 11px;
	margin:0px 0px 0px 5px;
}
.readmore-js-toggle.expanded:after
{
	background-image:url(../images/minus.png);
}
.readmore-js-toggle.collapsed:after
{
	background-image:url(../images/plus.png);
}


@media all and (max-width: 959px) {


	html, body{
		font-size:12px;
	}
	
	h1{
		font-size:60px;
		line-height:60px;
	}
	
	h2{
		font-size:36px;
		line-height:36px;
		text-align:center;
	}
	
	p{
		line-height:17px;
		text-align:center;
	}
	
	li{	
		background-size:7px 14px;
		background-position:2px 0px;
	}
	
	.container{
		width:100%;
	}
	
	header{
		text-align:center;
		margin:20px 0px 30px 0px;
	}
	
	.desc, .logo{
		float:none;
	}
	
	.desc{
		margin:20px auto 0px auto;
		width:75%;
	}
	
	div.left{
		display:block;
		width:90%;
		margin:0px;
		padding:0px 5%;
	}
	
	.right {
		margin:150px 0px 0px 0px;
		display:block;
		width:100%
	}
	
	.right input{
		font-size:11px;
	}
	
	.panda img{
		width:90%;
		padding:20px 5% 0px 5%;
		margin:-130px 0px 20px 0px;
	}
	
	
	footer{
		text-align:center;
	}
	
	footer br{
		display:inline;
	}

	footer div, footer div.copyright{
		float:none;
		margin:25px 0px;
		line-height:normal;
	}
	
	footer div.social{
		margin:20px 0px;
	}
}