.#storm-ajax-throbber
{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	width: 100px;
	height: 100px;
	overflow: visible;
	background-image: url('../images/estorm_throbber.gif');
	background-repeat: no-repeat;
	opacity: 0.75;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}